 html,body{
   height: 100%;
 }
 .layout-color{
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
 }
.header-color{
  left: 0%;
  top: 0;
  margin: auto;
 
}
.landing-grid{
 text-align: center;
border-radius: 10ch;
top: 0%;
left: 0;
width: 100%;
height: 100%;

}
.nav a:hover {
	font-weight: bold;
  color:wheat;
  background-color: gray;
}

.avatar-img{
  height:200px;
  padding-top:5em;
}
.banner-text{
  background-color: beige;
  opacity: .9;
  width:70%;
  margin: auto;
  border-radius: 10px;
}
.banner-text h1{

font-size: 50px;
color: black;
font-weight:bold;
font-style: italic;
}
.banner-text hr{
  border-top: 5px double black;
  width: 50%;
  margin: auto;
}
.banner-text p {
  
  font-size: 20px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 1em;
}
.social-links{
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: auto;

}
.social-links i {
  color:gray;
  font-size: 50px;
  padding:10px;
}
.projects-grid{
  display: flex;
}
.contact-body{
  margin: auto;
  
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
text-align: center;
}
.contact-grid{
  width: 80%;
  height: 554px;
  justify-content: center;
  background: white;
  color: #232526;

margin-bottom: 20px;
}
.contact-grid h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bold;

}
.contact-grid p{
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}
.contact-grid hr{
  border-top: 5px double black;
  width: 50%;
  margin: auto;
}

.contact-list i{
  font-size: 50px;
  padding-right: 1em;
  font-weight: bold;


}
.footer{
  position: relative;
  width: 100%;
  height: 150px;
  margin-top:-150px;
  padding-top: 20px;
  clear: both;
  background-color: #232526;
 

  }
  .section {
    font-size: 20px;
    color: #00F260;
   
  }
  .link a{
    
    font-size: 20px;
    color: wheat;
  }